
:root {
  --primary: #f8e9e5;
  --secondary: #264653;
  --bg: #fff8f0;
  --accent: #f4a261;
  --highlight: #e9c46a;
  --border: #e6b98a;
  --shadow: 0 4px 12px rgba(0,0,0,0.08);
  --transition: all 0.3s cubic-bezier(.4,0,.2,1);
  --icon-size: 1.5em;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  color: #2c2c2c;
  background: var(--bg);
  scroll-behavior: smooth;
  background-color: #fff8f0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: url('img/fondoizquierdo.png') repeat-y;
  
  background-size: contain;
  opacity: 0.15;
  pointer-events: none;
  
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: url('img/fondoderecho.png') repeat-y;
  background-size: contain;
  opacity:0.15;
  pointer-events: none;
 
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, var(--primary), var(--accent));
  padding: 0.7em 2em;
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 4px solid var(--highlight);
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
    url('img/fondoheader.png') center/cover no-repeat;

  color: white;
  transition: transform 0.3s ease ;
}

header.hide {
  transform: translateY(-100%);
}

div .logo {
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  height: 100px;
  width: auto;
}


nav ul {
  display: flex;
  gap: 1.7em;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary);
}

/* HERO */
.hero {
  background-image:
    url("img/hero_fondo.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 4em 0 2em;
  text-align: center;
}

.hero-content {
  max-width: 480px;
  margin: 0 auto;
  border-radius: 14px;
  box-shadow: var(--shadow);
  padding: 2em;
  background: rgba(255,255,255,0.85);
}

.hero h1 {
  font-size: 3rem;
  background: url("https://wallpapers.com/images/hd/callebrillante-y-colorida-en-cartagena-m7zr81abdn5su3o0.jpg");
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

.cta-btn {
  background: var(--primary);
  color: #eca24e;
  padding: 0.7em 1.7em;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.cta-btn:hover {
  background: var(--highlight);
  color: var(--secondary);
}

/* SECCIONES */
section {
  padding: 2.5em 1.2em;
  max-width: 1100px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #d8882c;
  
}

/* PRODUCTOS */
.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 1.7em;
}

.product-card {
  background: #fffdf9;
  border-radius: 16px;
  padding: 1.2em;
  border: 2px solid var(--border);
  transition: var(--transition);
  position: relative;
}

.qr {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(255,255,255,0.95);
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.product-card:hover .qr {
  opacity: 1;
  transform: scale(1);
}

.product-card img {
  width: 100%;
  border-radius: 12px;
  border: 2px solid var(--accent);
}

.price {
  color:  #f1b232;
  font-weight: bold;
}

.botones-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.comprar {
  background: #635bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.comprar:hover {
  background: #4a45c4;
}

.whatsapp {
  background: var(--highlight);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp:hover {
  background: var(--primary);
  color: #fff;
}


/* EMPRENDEDORES */
.entrepreneur-card {
  background: #fff;
  border-radius: 15px;
  padding: 1em;
  text-align: center;
  border: 2px solid var(--border);
}

.entrepreneur-card img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid var(--accent);
}

/* BENEFICIOS */
.benefits-list li {
  background: linear-gradient(135deg, var(--accent), var(--highlight));
  color: var(--secondary);
  padding: 1em;
  border-radius: 10px;
}

/* PROBLEMA */
.problem-solution div {
  background: #fff;
  border-left: 6px solid var(--primary);
  border-right: 6px solid var(--accent);
  padding: 1em;
  border-radius: 12px;
}

/* CONTACTO */
form {
  background: #fff;
  padding: 2em;
  border-radius: 15px;
  border: 2px solid var(--border);
}

input, textarea {
  background: #ce9d58;
  border: 1px solid var(--border);
  padding: 0.7em;
  border-radius: 6px;
}

button {
  background: var(--primary);
  color: white;
  padding: 0.7em;
  border: none;
  border-radius: 10px;
}
.qr-img{
 height: 200px;
  width: 200px; 
  display: block;
  margin: 0 auto;
} 

button:hover {
  background: #ce9d58;
  color: white
}

/* FOOTER */
footer {
  background: linear-gradient(50deg, #7c4608, #fccb62);
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  z-index: 10;
}
.equipo-section {
  padding: 40px 20px;
  text-align: center;
}

.equipo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.miembro {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.miembro img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.miembro h3 {
  margin: 10px 0 5px;
}

.miembro p {
  font-size: 14px;
  color: #555;
  text-align: left
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
 
  color: white;

}
.close-menu {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); 
  font-size: 10px; /* más grande */
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
 
  display: none;

}

/* Modo móvil */
@media (max-width: 1000px) {


  body::before,
  body::after {
    display: none;
  }
  
  .close-menu {
    display: flex; 
  }
  .menu-toggle {
    display: block;
    color: white;
    font-size: 28px;
  }

  nav {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background: white;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
    z-index: 999;
  }

  nav.active {
    left: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px; 
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    color: #333; 
  }

  nav ul li a:hover {
    color: var(--accent);
  }

} 